# compiled output
/dist
/node_modules
/build

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp

# Coverage
/coverage
